{#<select id="LinhVuc" name="LinhVuc" required="required" placeholder="Chọn lĩnh vực phù hợp" data-toggle="popover" data-placement="top" data-content="Chọn lĩnh vực phù hợp" data-trigger="hover" class="popovers-input span12 valid">#}
{#<option disabled="disabled" selected="selected">- Tên lĩnh vực & Ngành Nghề -</option>#}
{#    #}
{# <optgroup label="Kiến trúc và xây dựng">#}
{#    <option value="Thiết kế nội thất nhà và chung cư ">Thiết kế nội thất nhà và chung cư                   </option>#}
{#    <option value="Thiết kế ngoại thất nhà ở         ">Thiết kế ngoại thất nhà ở                         </option>#}
{#    <option value="Thiết kế nội thất nhà và chung cư ">Thiết kế nội thất nhà và chung cư                  </option> </optgroup>#}
{#<optgroup label="IT và lập trình">#}
{#    <option value="Lập trình web       ">Lập trình web                       </option>#}
{#    <option value="Ứng dụng di động    ">Ứng dụng di động                     </option>#}
{#    <option value="Việc lập trình khác ">Việc lập trình khác                     </option>#}
{#    <option value="Lập trình phần mềm  ">Lập trình phần mềm                 </option>#}
{#    <option value="Tối ưu cho công cụ tìm kiếm - SEO">Tối ưu cho công cụ tìm kiếm - SEO               </option>#}
{#    <option value="Tư vấn, thiết kế hệ thống mạng   ">Tư vấn, thiết kế hệ thống mạng          </option>#}
{#    <option value="QA Tester    ">QA Tester               </option>#}
{#    <option value="Quản lý dự án">Quản lý dự án </option>#}
{#</optgroup>#}
{#<optgroup label="Marketing &amp; Bán hàng">#}
{##}
{#    <option value="Quảng cáo google adwords – SEM                         ">Quảng cáo google adwords – SEM                         </option>#}
{#    <option value="Tư vấn quảng bá sản phẩm                               ">Tư vấn quảng bá sản phẩm                                  </option>#}
{#    <option value="Tư vấn bán hàng &amp; Giới thiệu sản phẩm              ">Tư vấn bán hàng &amp; Giới thiệu sản phẩm                  </option>#}
{#    <option value="Nghiên cứu &amp; khảo sát thị trường                   ">Nghiên cứu &amp; khảo sát thị trường                         </option>#}
{#    <option value="Việc KD và marketing khác                              ">Việc KD và marketing khác                                      </option>#}
{#    <option value="Tổ chức sự kiện                                        ">Tổ chức sự kiện                                           </option>#}
{#    <option value="Tư vấn, lập kế hoạch &amp; triển khai marketing online ">Tư vấn, lập kế hoạch &amp; triển khai marketing online </option>#}
{#    <option value="Quảng cáo facebook                                     ">Quảng cáo facebook                                          </option>#}
{#    <option value="Email marketing                                        ">Email marketing                                             </option>#}
{#    <option value="Forum seeding                                          ">Forum seeding                                             </option>#}
{#</optgroup>#}
{##}
{#<optgroup label="Lĩnh vực khác">#}
{#    <option value="Chụp ảnh">Chụp ảnh</option>#}
{#    <option value="Tuyển dụng">Tuyển dụng</option>#}
{#</optgroup>#}
{##}
{#<optgroup label="Thiết kế">#}
{#    <option value="Thiết kế Logo">Thiết kế Logo                            </option>#}
{#    <option value="Thiết kế đồ họa                     ">Thiết kế đồ họa                                   </option>#}
{#    <option value="Thiết kế giao diện Website          ">Thiết kế giao diện Website                </option>#}
{#    <option value="Banner quảng cáo                    ">Banner quảng cáo                     </option>#}
{#    <option value="Nhãn hiệu và bao bì                 ">Nhãn hiệu và bao bì                       </option>#}
{#    <option value="Làm video clip                      ">Làm video clip                           </option>#}
{#    <option value="Ảnh và chỉnh sửa ảnh                ">Ảnh và chỉnh sửa ảnh                    </option>#}
{#    <option value="Các việc thiết kế khác              ">Các việc thiết kế khác                        </option>#}
{#    <option value="Thiết kế bộ nhận diện thương hiệu   ">Thiết kế bộ nhận diện thương hiệu                      </option>#}
{#    <option value="Thiết kế flash &amp; HTML5          ">Thiết kế flash &amp; HTML5                               </option>#}
{#    <option value="Thiết kế giao diện ứng dụng di động ">Thiết kế giao diện ứng dụng di động              </option>#}
{#    <option value="Thiết kế brochure                   ">Thiết kế brochure                                </option>#}
{#    <option value="Thiết kế infographic                ">Thiết kế infographic                              </option>#}
{#</optgroup>#}
{##}
{#<optgroup label="Viết lách &amp; dịch thuật">#}
{#<option value="Viết báo &amp; tạp chí">Viết báo &amp; tạp chí</option>#}
{#<option value="Quản lý blog &amp; fanpage">Quản lý blog &amp; fanpage</option>#}
{#<option value="Dịch thuật">Dịch thuật</option>#}
{#<option value="Viết sách">Viết sách</option>#}
{#<option value="Viết bài PR &amp; quảng cáo sáng tạo">Viết bài PR &amp; quảng cáo sáng tạo</option>#}
{#<option value="Copywriting">Copywriting</option>#}
{#<option value="Viết nội dung cho website">Viết nội dung cho website</option>#}
{#<option value="Biên tập &amp; chỉnh sửa nội dung">Biên tập &amp; chỉnh sửa nội dung</option> </optgroup>#}
{##}
{#<optgroup label="KHÁC ">#}
{#<option value="Khác">Khác</option>#}
{#</optgroup>#}
{#</select>#}


<select id="Nganh_Nghe" name="Nganh_Nghe" required="required" data-toggle="popover"
        data-placement="top" data-content="Chọn ngành nghề, VD: IT lập trình"
        data-trigger="hover" class="popovers-input span12 valid">

<option disabled="disabled" selected="selected">- Ngành Nghề cần thuê -</option>
    {% for NganhNghe in nghe %}
<option value="{{ NganhNghe.id }}">{{ NganhNghe.title }}</option>
    {% endfor %}
</select>