{% extends 'layout/base.html' %}
{% load static %}
{% block index %}

<div class="content-section container">
    <div class="row-fluid">
{% include 'tai-khoan/Freelance/layout/sidebar.html' %}


            <h3 class="heading">Chỉnh sửa thông tin cơ bản</h3>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form enctype="multipart/form-data" action="" method="post" class="edit-form" >
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'gender' %}
                        <div class="clear"></div>
                        <select id="gender" name="gender" required="required" data-toggle="popover"
                                                data-placement="top" data-content="Chọn giới tính : Nam - Nữ"
                                                data-trigger="hover" class="popovers-input valid">
                            <option disabled="disabled" selected="selected">-Chọn giới tính -</option>
                            <option value="male" {% if field.value == 'male' %} selected="selected" {% endif %}>Nam</option>
                            <option value="female" {% if field.value == 'female' %} selected="selected" {% endif %}>Nữ</option>
                            <option value="other"{% if field.value == 'other' %} selected="selected" {% endif %}>Khác</option>

                        </select>
                    {% else %}
                        <div class="clear"></div>
                        <div class="control-group">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                           {% comment %} <input type="{{ field.field.widget.input_type }}"
                                   class="form-control"
                                   name="{{ field.name }}"
                                   id="id_{{ field.name }}"
                                   value="{{ field.value }}"
                                   placeholder="{{ field.field.widget.attrs.placeholder }}">{% endcomment %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            <div class="clear"></div>
                <div class="control-group">
                    <button type="submit" class="btn btn-outline-white-primary">
                        <i class="fa fa-signing"></i> Update
                    </button>
                </div>
            </form>


               {% comment %} <form id="edit-acc" class="edit-form" action="" method="post" enctype="multipart/form-data" novalidate="novalidate">
                   {% csrf_token %}
                    <div>
                        <label class="personal-info">Thông tin cơ bản</label>
                    </div>
                    <div class="clear"></div>
                    <dl class="dl-horizontal">
                        <div class="clear"></div>
                        <dt>First name<span class="text-red">*</span></dt>
                        <dd>
                            <div>
                                <input type="text" id="first_name" name="first_name" required="required" placeholder="first_name" data-toggle="popover" data-placement="right" data-content="Tên đầy đủ theo CMND của bạn.<br/><i>Lưu ý sử dụng tên thật của bạn. vLance.vn sẽ sử dụng thông tin này khi chuyển tiền thanh toán các dự án cho bạn.</i>" data-trigger="hover" data-html="true" class="popovers-input" value="{{ f.first_name }}" data-original-title="" title=""> </div>
                        </dd>

                        <div class="clear"></div>
                        <dt>Last name<span class="text-red">*</span></dt>
                        <dd>
                            <div>
                                <input type="text" id="last_name" name="last_name" required="required" placeholder="first_name" data-toggle="popover" data-placement="right" data-content="Tên đầy đủ theo CMND của bạn.<br/><i>Lưu ý sử dụng tên thật của bạn. vLance.vn sẽ sử dụng thông tin này khi chuyển tiền thanh toán các dự án cho bạn.</i>" data-trigger="hover" data-html="true" class="popovers-input" value="{{ f.last_name }}" data-original-title="" title=""> </div>
                        </dd>

                        <div class="clear"></div>
                        <dt>Email<span class="text-red">*</span></dt>
                        <dd>
                            <div class="email-invalid">
                                <div class="control-group ">
                                    <input type="email" id="email" name="emai" required="required" placeholder="Email" data-toggle="popover" data-placement="right" data-content="Email, VD: hovaten@gmail.com" data-trigger="hover" value="{{ f.email }}"> </div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                        <dt>Hotline</dt>
                        <dd>
                            <div class="skype-invalid">
                                <div class="control-group ">
                                    <input type="tel" id="hotline" name="hotline" placeholder="Hotline" data-toggle="popover" data-placement="right" data-content="Skype, VD: freelancer01" data-trigger="hover" data-html="true" class="popovers-input" value="{{ f.hotline }}" data-original-title="" title=""> </div>
                            </div>
                        </dd>
                        <div class="clear"></div>
                        <dt>Thay đổi mật khẩu</dt>
{#                        <dd>#}
{#                            <div class="change_password">#}
{##}
{#                                <div id="vlance_accountbundle_accountbasictype_plainPassword">#}
{#                                    <div class="control-group ">#}
{#                                        <input type="password" id="password1" name="password1" placeholder="Mật khẩu mới" value=""> </div>#}
{#                                    <div class="control-group ">#}
{#                                        <input type="password" id="password2" name="password2" placeholder="Nhập lại mật khẩu mới" value=""> </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </dd>#}
                        <div class="clear"></div>

                    </dl>
                    <div class="clear"></div>

                   <dl>
                        <dd>
                            <div class="submit-form-edit-profile">
                                <input type="submit" class="btn btn-large btn-primary" value="Lưu các thay đổi">
                            </div>
                        </dd>
                    </dl>
                </form>{% endcomment %}
                <script>
                    var account_edit_validate = {
                        "type": ["jpg", "jpeg", "png", "gif"],
                        "size": 1048576,
                        "mail": 'facebook.com'
                    };
                    var account_edit_sizeerror = "Kích thước file không vượt quá 1MB";
                    var account_edit_typeerror = "File không đúng định dạng jpg, jpeg, png, gif";
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}