<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
{% load static %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="vi">
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="vLance.vn" />
    <link rel="publisher" href="https://plus.google.com/110723961725253795351/"/>
    <title>Đồ án web python - Hutech </title>
    <meta property="og:site_name" content="vLance.vn" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" name="title" content="Freelancer Việt Nam - Lựa chọn số 1 của doanh nghiệp - vLance.vn" />
    <meta property="og:image" content="img/og/vlance.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="index.html" />
    <meta property="og:description" itemprop="description" name="description" content="Thuê freelancer lập trình, thiết kế, marketing, viết lách, dịch thuật, v.v. trên toàn Việt Nam với giá hợp lý, giúp tiết kiệm 50% chi phí cho doanh nghiệp." />
    <meta property="fb:app_id" content="197321233758025" />
    <meta itemprop="keywords" name="keywords" content="freelancer, freelancer là gì, freelancer việt nam, tuyển freelancer, freelance, tìm việc freelance, tìm việc làm thêm, việc làm tự do, việc làm online" />

    <link href="rss.xml" rel="alternate" type="application/rss+xml" title="Việc freelance mới nhất cho Freelancer"/>
    <link itemprop="sameAs" href="https://www.facebook.com/vlance.vn"/>
    <link itemprop="sameAs" href="https://twitter.com/vlancevn"/>
    <link itemprop="sameAs" href="https://www.linkedin.com/company/vlance-vn"/>
    <link itemprop="sameAs" href="https://plus.google.com/+VlanceVn"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&amp;subset=latin,vietnamese' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/vlance.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/vlance-responsive.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/slider_home.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 8]>
    <link href="/css/vlance-ie8.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if IE 7]>
    <link href="{% static '/css/vlance-ie7.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="{% static '/js/jquery-1.10.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/locales/bootstrap-datepicker.vn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hinclude.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.localisation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptsall.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.min.js' %}"></script>

    <!--[if IE]>
    <script type="text/javascript" src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script>
        $(function() {
            $('input, textarea').placeholder();

        });
    </script>
    <style type="text/css">
        input, textarea { color: #000; }
        .placeholder { color: #aaa; }
    </style>
    <![endif]-->
        <link href="{% static 'css/vlance_homepage.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src="{% static 'js/form/jquery.validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/form/jquery.validate.vn.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slider_home/jquery.eislideshow.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slider_home/jquery.easing.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.anicounter.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/slick/slick.min.js' %}"></script>

    <!-- Update Mixpanel 12/02/2018 -->
    <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("2b285065b03ef046b8392e1f99682b9d");</script>
    <!-- End Update Mixpanel 12/02/2018 -->



                    <script src="http://load.sumome.com/" data-sumo-site-id="c35bd57eeb5c9a757f46a26b14d425040e1cca43bdc3ba5cdfaba1d411ae0914" async="async"></script>
    </head>
    <body class="one-column
        vlance_homepage" >

        <div class="main">

        <style>.async-hide { opacity: 0 !important} </style>

         <script type="text/javascript" src="{% static 'js/form/jquery.validate.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/common/login-signup.min.js' %}"></script>
    <div class="navbar navbar-static-top nav-new display-desktop">
        <div class="container">
            <div class="row-fluid">
                <div class="span2">
                    <h1 class="logo"><a href="/">
                        <img style="width:87px;" src="{% static 'img/logo.png' %}"
                             alt="vLance.vn - Thuê Freelancer Việt Nam nhanh và hiệu quả"
                             title="vLance.vn - Thuê Freelancer Việt Nam nhanh và hiệu quả"/></a></h1>
                </div>
                <div class="span7">
                    <div class="menu-inner">
                        <ul class="nav nav-menu dropdown">
                            <li class="menu-item first ">
                                <a title="Thuê Freelancer" href="/freelancers">Thuê Freelancer<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li class="disabled" role="presentation">Đăng tin tuyển dụng</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/dang-du-an">Đăng việc theo dự án</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/dang-viec-tuyen-dung">Đăng việc bán thời gian</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/dang-cuoc-thi">Đăng cuộc thi thiết kế</a></li>
                                    <li class="disabled" role="presentation">Tìm Freelancer</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/freelancers">Danh sách Freelancer</a></li>
                                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#"></a></li>-->
                                </ul>
                            </li>
                            <li class="menu-item second ">
                                <a title="Tìm việc làm" href="/viec-lam-freelance">Tìm việc làm<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/viec-lam-freelance">Việc theo dự án</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/viec-lam-onsite">Việc bán thời gian</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cuoc-thi-thiet-ke">Cuộc thi thiết kế</a></li>
                                </ul>
                            </li>
                            <li class="menu-item tool-sign display-desktop">
                                <a href="/blog/" title="Tin Tức">Tin Tức</a>
                            </li>
                                                    </ul>
                    </div>
                </div>
                   <div class="span3 btn-connect">
                    <div class="login-vlance">
                        <div class="create-account-vlance">
                            <a id="btn-register" href="/tai-khoan/freelance">Đăng ký </a>
                            <a id="btn-login" rel="nofollow" href="/login">Đăng nhập</a>
                        </div>
                    </div>
                    <div class="button">
                        <a class="btn btn-vl btn-vl-green btn-vl-medium" onclick="vtrack('Click post job', {'location':'Homepage'})" href="/dang-du-an.html">Đăng dự án</a>
                    </div>
    </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-static-top nav-new display-mobile">
        <div class="container">
            <div class="list-menu">
                <div class="menu-item-1">
                    <div class="toggle dropdown icon-hamberger">
                        <a href="#" class=""><i class="fa fa-bars menu" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="button">
                    <a class="btn btn-vl btn-vl-green btn-vl-medium" onclick="vtrack('Click post job', {'location':'Homepage'})" href="dang-du-an.html">Đăng dự án</a>
                </div>
            </div>
            <div class="menu-item-2" style="padding-left: 120px;">
                    <h1 class="logo"><a href="/index.html">
                        <img style="width:70px;" src="{% static 'img/logo.png' %}"
                             alt=" Thuê Freelancer Việt Nam nhanh và hiệu quả"
                             title="Thuê Freelancer Việt Nam nhanh và hiệu quả"/></a></h1>
            </div>
        </div>
        <div class="overlay-transparent-grey"></div>
        <div class="overlay-block overlay-left" style="height: 800px;">
            <div class="wrap-mobile">
                <ul class="nav-menu-mobile">
                    <li class="title"><a title="Thuê Freelancer" href="/freelancers">Thuê Freelancer</a></li>
                    <li class=""><a href="dang-du-an">Đăng việc theo dự án</a></li>
                    <li class=""><a role="menuitem" tabindex="-1" href="/dang-viec-tuyen-dung">Đăng việc bán thời gian</a></li>
                    <li class=""><a role="menuitem" tabindex="-1" href="/dang-cuoc-thi">Đăng cuộc thi thiết kế</a></li>
                    <li class=""><a role="menuitem" tabindex="-1" href="/freelancers">Danh sách Freelancer</a></li>
                    <li class="title"><a title="Tìm việc làm" href="/viec-lam-freelance">Tìm việc làm</a></li>
                    <li class=""><a role="menuitem" tabindex="-1" href="/viec-lam-freelance">Việc theo dự án</a></li>
                    <li class=""><a role="menuitem" tabindex="-1" href="/viec-lam-onsite">Việc bán thời gian</a></li>
                    <li class=""><a role="menuitem" tabindex="-1" href="/cuoc-thi-thiet-ke">Cuộc thi thiết kế</a></li>
                    <li class="divider"></li>
                    <li class=""><a id="btn-register-mobile" href="#">Đăng ký </a></li>
                    <li class=""><a id="btn-login-mobile" rel="nofollow" href="#">Đăng nhập</a></li>
                    <li class="divider"></li>
                    <li class=""><a href="/blog" title="">Tin Tức</a></li>
                </ul>
            </div>
            <div class="close-button"><a><i class="fa fa-close fa-2" aria-hidden="true"></i></a></div>
        </div>
   </div>