{% extends 'layout/base-in.html' %}
    {% load static %}
{% load job_filter %}

{% block content %}
    <div class="content-section">
    {% include 'layout/sidebar/content-top.html' %}

            <div class="row-fluid container">
    {% include 'layout/sidebar/sidebar.html' %}
                <div class="col2-right span9">
                                        <div id="main_content">

<script type="text/javascript">
    var href = "/viec-lam-freelance";
    var canonical = document.createElement("link");
    canonical.setAttribute('rel','canonical');
    canonical.setAttribute('href',href);
    $('head')[0].append(canonical);
</script>

<div style="display: none;">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/viec-lam-freelance" itemprop="url">
        <span itemprop="title">Việc freelance</span>
      </a>
          </div>
    </div>

<div class="search-block row-fluid">
    <div class="inner-content new-job-block span12">
    <a class="btn btn-large btn-primary p-job" data-toggle="modal" onclick="vtrack('Click post job', {'location':'List job page', 'authenticated':'false'})" href="#login-to-post-job">
        Đăng việc mới    </a>
    <div class="sub-text">
        <p>Đăng việc miễn phí 100%<img src="/img/icon-v.png"></p>
        <span>Thuê được ngay freelancer trong vòng 10 phút</span>
    </div>
</div>

<div class="modal fade popup-login" id="login-to-post-job">
    <div class="modal-body">
        <div class="login_view_job">
            <div class="span3 btn-connect">
                <p class="first">Để <strong>Đăng việc</strong>, bạn phải <strong>có tài khoản</strong> tại vLance.vn</p>
                <div class="center">
                    <div class="btn-create-account">
                        <a class="btn btn-primary btn-large" href="/a/register/client" onclick="vtrack('Post job registration', {'type':'normal'})">Tạo tài khoản mới</a>
                    </div>
                    <p>hoặc đăng ký bằng</p>
                    <div class="job-login-socail">
                        <a class="btn-flat-new btn-facebook-flat" onclick="vtrack('Post job registration', {'type':'facebook'});fb_login();">Facebook</a>
                        <a class="btn-flat-new btn-google-flat" onclick="vtrack('Post job registration', {'type':'google'});google_login();">Google</a>
                        <a class="btn-flat-new btn-linkedin-flat" onclick="vtrack('Post job registration', {'type':'linkedin'});linkedin_login();">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="search-content row-fluid">
    <div class="layered-block search-results span12">
        <div>
            <div class="layered-heading results-counter">
    <ul class="nav nav-pills">
                    <li class="active">
                <a>
                    Nhận chào giá
                    <b>(229)</b>
                </a>
            </li>
                    <li>
                <a href="/viec-lam-freelance/status_nap-tien">
                    Đã nạp tiền
                    <b>(2523)</b>
                </a>
            </li>
                    <li>
                <a href="/viec-lam-freelance/status_tat-ca">
                    Tất cả
                    <b>(26689)</b>
                </a>
            </li>
            </ul>
</div>
        </div>
        <div class="block-content">
<div class="row-fluid row-result featured-job">
    <div class="fr-info span12">
                        <div class="special-banner">
            <div class="banner-featured-job" data-toggle="tooltip" data-placement="top" title="" alt="Công việc được nổi bật" data-original-title="Công việc được nổi bật">Nổi bật</div>
        </div>
                    <script type="text/javascript" language="javascript">
                jQuery(document).ready(function(){
                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                });
            </script>
                <h3 class="fr-name">

                <a href="/viec-freelance/viet-noi-dung-tieng-anh-cho-website-moi-chu-de-1">
                    Viết Nội Dung Tiếng Anh Cho Website Mọi Chủ Đề                </a>
                                                                    <span class="label-new">Mới</span>
                                                                                                            </h3>
        <div class="fr-title">

            <div id="client-rating-box" class="list-job-rating">
                                <div class="box-rating-client" data-toggle="popover" data-placement="right" data-content="<div>Tiền đã thuê : <b>0</b> VNĐ</div><div>Việc đã đăng : <b>4</b> việc</div><div>Việc đã giao : <b>0</b> việc</div>" data-trigger="hover" data-html="true" data-original-title="" title="">
                    <div class="rating-box-client">
                        <div class="rating-client" style="width:0%"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.box-rating-client').popover();
                    })
                </script>
            </div>
            <a href="/khach-hang/sam-minh-tuan" title="Sầm Minh Tuấn">
                <span>Sầm Minh Tuấn </span>
            </a>
                            <i class="icon-info icon-user" title="Tài khoản khách hàng đã có đủ thông tin cơ bản"></i>
                                </div>
        <div class="fr-summary row-fluid">
            <div class="history span8">
                <span class="location">
                    Toàn Quốc                </span>
                <span class="separator">|</span>

                    <span class="category">Viết nội dung cho website</span>
                                <span class="separator hidejs" style="display: inline;">|</span>


                <span class="history-job hidejs" style="display: inline;">20.000.000 đ - 50.000.000 đ                                        <a href="#" class="vlance-popover icon-question-sign" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Vui lòng <a href='#'>đăng nhập</a> để biết mức ngân sách thực tế." data-original-title="" title=""></a>
                                    </span>
            </div>
            <div class="span4 remain-job hidejs" style="">
                <div class="remain">
                    Hạn chào giá: 7 ngày 19 giờ                                    </div>
            </div>
        </div>
        <div class="fr-service">
                                                Mình có một vài trang web cần Writer biết tiếng anh viết được nhiều chủ đề.

Đặc biệt được mình training về kĩ năng copywriting chuyên nghiệp và đọc...                    <a class="read_more" href="/viec-freelance/viet-noi-dung-tieng-anh-cho-website-moi-chu-de-1">
                        xem thêm                    </a>
                                    </div>
        <div class="fr-profile row-fluid">
                                        <div class="skill-list span8 row-fluid">
                                            <span class="service-tag"><a title="Cần thuê dịch vụ &quot;Viết nội dung cho website&quot;">Viết nội dung cho website</a></span>
                                        <span>
                                                    <a href="/viec-lam-freelance/kynang_seo" title="Việc freelance SEO">SEO</a>

                                            </span>
                </div>
                        <div class="span4">
                <div class="number_bid">
                                            <span>
                            <strong>1</strong> chào giá
                        </span>
                                    </div>
            </div>
        </div>
    </div>
</div>

            <!----job -->

        {% if not vl %}
		Chưa có bài viết nào
		{% else %}

            {% for Job in vl %}
                    <div class="row-fluid row-result"style=" border-bottom: 1px solid #EDEDED;">
    <div class="fr-info span12">
                <h3 class="fr-name">

                <a href="/viec-freelance/{{ Job.slug }}">
                   {{ Job.title }} </a>
                 <span class="label-new">Mới</span>
                </h3>
        <div class="fr-title">

            <div id="client-rating-box" class="list-job-rating">
                                <div class="box-rating-client"
                                     data-toggle="popover"
                                     data-placement="right"
                                     data-content="<div>Tiền đã thuê : <b>0</b> VNĐ</div><div>Việc đã đăng : <b>1</b> việc</div><div>Việc đã giao : <b>0</b> việc</div>" data-trigger="hover" data-html="true" data-original-title="" title="">
                    <div class="rating-box-client">
                        <div class="rating-client" style="width:0%"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.box-rating-client').popover();
                    })
                </script>
            </div>
            <a href="/khach-hang/diggory-nguyen" title="{{ Job.user.get_full_name }}">
                <span>{{ Job.user.get_full_name }}</span>
            </a>
                            <i class="icon-info icon-user inactive" title="Tài khoản khách hàng thiếu thông tin cơ bản"></i>
                                </div>
        <div class="fr-summary row-fluid">
            <div class="history span8">
                <span class="location">
                   {{ Job.Thanh_Pho }}               </span>
                <span class="separator">|</span>

                    <span class="category">{{ Job.Nganh_Nghe }}</span>
                                <span class="separator hidejs" style="display: inline;">|</span>


                <span class="history-job hidejs" style="display: inline;">{{ Job.NS_tu }} đ - {{ Job.NS_den }} đ                                        <a href="#" class="vlance-popover icon-question-sign" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Vui lòng <a href='#'>đăng nhập</a> để biết mức ngân sách thực tế." data-original-title="" title=""></a>
                                    </span>
            </div>
            <div class="span4 remain-job hidejs" style="">
                <div class="remain">
                    Hạn chào giá: {{ Job.last_date|date:'d/m/Y' }}                                  </div>
            </div>
        </div>
        <div class="fr-service">
            {{ Job.description |truncatewords:50}}...
            <a class="read_more"
               href="/viec-freelance/{{ Job.slug }}">xem thêm</a>
                                    </div>
        <div class="fr-profile row-fluid">
                                        <div class="skill-list span8 row-fluid">
                                            <span class="service-tag"><a title="Cần thuê dịch vụ &quot;{{ Job.Nganh_Nghe }}&quot;">{{ Job.Nganh_Nghe }}</a></span>
                                        <span>
                                            {{ Job.skill }}
                                        </span>
                </div>
                        <div class="span4">
                <div class="number_bid">
                                            <span>
                            <strong>0</strong> chào giá
                        </span>
                                    </div>
            </div>
        </div>
    </div>
</div>
                    </div>
        {% endfor %}
        <!----end job -->
               <br>
		<!-- Hiện thị phân trang -->
		{% include "layout/pagination.html" with page=page_obj %} <!-- NEW -->
		{% endif %}

            </div>
</div>


                    </div>
                </div>
            </div>
        </div>


{% endblock %}