{% extends 'layout/base.html' %}
{% block index %}
    {% load static %}

<div class="content-section container create-job">
    <div class="row-fluid">
        <div class="span12 left-side">
            <h1 class="new_job_title">Đăng việc mới</h1>

            <div class="post-job">
                <form id="edit-job-form" action="" method="post" enctype="multipart/form-data"
                novalidate="novalidate">

                    {% csrf_token %}
                    {{ form.media }}
                    <div id="vlance_jobbundle_jobtype">
                        <div class="control-group primary-type">
                            <div class="row-fluid">
                                <div class="span2">
                                    <div class="sprites-job-posting sprites-1"></div>
                                </div>
                                <div class="span10">
                                    <h4>Việc cần tuyển freelancer</h4>
                                    <div class="control-group ">
                                        <label class="required" for="vlance_jobbundle_jobtype_category">Chọn lĩnh vực cần tuyển </label>
                                        {% include 'from/vieclam-inc.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span10 offset2">
                                    <div class="control-group ">
                                        <label class="required" for="vlance_jobbundle_jobtype_title">Đặt tên cụ thể cho công việc cần
                                            tuyển </label>
                                        <input type="text" id="title_id" name="title" required="required" maxlength="255"
                                        placeholder="VD: Thiết kế trang web bán hàng cao cấp"
                                        data-toggle="popover" data-placement="top"
                                        data-content="Tên công việc, VD: Dịch tiếng anh sang tiếng việt"
                                        data-trigger="hover" class="popovers-input span12"
                                        value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group primary-type">
                            <div class="row-fluid">
                                <div class="span2">
                                    <div class="sprites-job-posting sprites-2"></div>
                                </div>
                                <div class="span10">
                                    <h4>Thông tin đầy đủ về yêu cầu tuyển dụng</h4>
                                    <div class="control-group ">
                                        <label class="required" for="vlance_jobbundle_jobtype_description">
                                            Nội dung chi tiết, và các đầu việc cần Freelancer thực hiện (càng chi tiết,
                                            freelancer càng có đầy đủ thông
                                            tin để gửi báo giá chính xác
                                            hơn).
                                        </label>

                                        {% comment %}<textarea id="description_id" name="description"
                                                  required="required"
                                                  placeholder=""
                                                    data-placement="top"
                                                    class="input span12"
                                                    rows="14">

                                        </textarea>{% endcomment %}
                                            {{ form.description }}


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span10 offset2">
                                    <label>File đính kèm</label>
                                    <div class="control-group ">
                                        <input id="file" name="file" type="file" class="control-groups">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span10 offset2">
                                    <label>Kỹ năng yêu cầu freelancer phải có</label>
                                    <div class="control-group ">
                                        {% comment %}<textarea id="skill_id" name="skill" required="required" placeholder="Ví dụ: PHP , HTML , CSS..."
                                        class="popovers-input span12" rows="3">{% endcomment %}
                                        {{ form.skill }}

                                        </textarea>

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span5 offset2 job-closed-at">
                                    <div class="control-group closeat wrapper append-white">
                                        <label class="required" for="vlance_jobbundle_jobtype_closeAt">Hạn cuối nhận chào giá của freelancer
                                            </label>
                                        <div class="datepicker-widget input-append">
                                            <input type="date" id="last_date_id" name="last_date" required="required"
                                            placeholder="VD: 09/09/2019"
                                            title="" data-toggle="popover"
                                            data-placement="top" data-content="Hạn nhận báo giá, VD: 30/11/2019"
                                            data-trigger="hover" class="popovers-input span12">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group primary-type">
                            <div class="row-fluid">
                                <div class="span2">
                                    <div class="sprites-job-posting sprites-3"></div>
                                </div>
                                <div class="span10">
                                    <h4>Yêu cầu khác với freelancer</h4>
                                    <div class="row-fluid">
                                        <div class="span6 job-fl-city">
                                            <div class="control-group ">
                                                <label class="required" for="vlance_jobbundle_jobtype_city">Cần tuyển freelancer làm
                                                    việc tại
                                                </label>
                                                {% include 'from/thanhpho-inc.html' %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group primary-type">
                            <div class="row-fluid">
                                <div class="span2">
                                    <div class="sprites-job-posting sprites-4"></div>
                                </div>
                                <div class="span10">
                                    <h4>Ngân sách dự kiến chi cho công việc này</h4>
                                    <div class="control-group wrapper append-white combo-row-1st span6 budget">
                                        <label class="required" for="vlance_jobbundle_jobtype_budget">Số tiền tối đa tôi có thể trả là
                                            </label>
                                        <span>Từ</span>
                                        <div class="input-append">
                                            <input type="number" id="NS_tu_id" name="NS_tu" required="required" pattern="^(0|[1-9][0-9/.]*)$"
                                            placeholder="VD: 2.500.000"
                                            data-toggle="popover" data-placement="top"
                                            data-content="Thù lao dự kiến, VD: 500.000"
                                            data-trigger="hover" class="popovers-input span12"
                                            value="">
                                            <span class="add-on">VNĐ</span>
                                        </div>

                                        <span>Đến</span>
                                        <div class="input-append">
                                            <input type="number" id="NS_den_id" name="NS_den" required="required" pattern="^(0|[1-9][0-9/.]*)$"
                                            placeholder="VD: 2.500.000"
                                            data-toggle="popover" data-placement="top"
                                            data-content="Thù lao dự kiến, VD: 500.000"
                                            data-trigger="hover" class="popovers-input span12"
                                            value="">
                                            <span class="add-on">VNĐ</span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="more-options">
                        <div class="control-group primary-type">
                            <div class="row-fluid">
                                <div class="span2">
                                    <div class="sprites-job-posting sprites-5"></div>
                                </div>
                                <div class="span10">
                                    <h4>Đồng ý với các  <i>điều khoản </i> </h4>
                                    <label class="is-private checkbox">
                                        <input type="checkbox" id="filleds" name="filleds">
                                        <p>
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                            <label for="vlance_jobbundle_jobtype_isPrivate"> Tin đăng là hoàn toàn chính
                                                xác , không lừa đảo , hoàn
                                                toàn chịu trách nhiệm về
                                                nội dung mình đăng. </label>
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="clear"></div>
            <div class="row-fluid">
                <div class="span10 offset2">
                    <div class="form-cread-job-btn">
                        <div class="row-fluid">
                            <div class="accept-agreement span12">
                                <p>Khi đăng việc, tôi xác nhận đồng ý các
                                    <a href="%agreement_link%" target="_blank">điều khoản sử dụng</a>của vLance.vn, và không để lộ bất kỳ
                                    thông tin liên lạc cá nhân nào trong
                                    phần mô tả nội dung công việc.</p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 ">
                                <input id="btn-submit-job" type="submit" class="btn btn-primary btn-large popup-validate span12"
                                value="Đăng việc">
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}