{% extends 'layout/base-in.html' %}
    {% load static %}
{% block content %}
    <div class="content-section">
    {% include 'layout/sidebar/content-top.html' %}

            <div class="row-fluid container">
    {% include 'layout/sidebar/sidebar.html' %}
                <div class="col2-right span9">
                                        <div id="main_content">

<script type="text/javascript">
    var href = "/viec-lam-freelance";
    var canonical = document.createElement("link");
    canonical.setAttribute('rel','canonical');
    canonical.setAttribute('href',href);
    $('head')[0].append(canonical);
</script>

<div style="display: none;">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/viec-lam-freelance" itemprop="url">
        <span itemprop="title">Việc freelance</span>
      </a>
          </div>
    </div>

<div class="search-block row-fluid">
    <div class="inner-content new-job-block span12">
    <a class="btn btn-large btn-primary p-job" data-toggle="modal" onclick="vtrack('Click post job', {'location':'List job page', 'authenticated':'false'})" href="#login-to-post-job">
        Đăng việc mới    </a>
    <div class="sub-text">
        <p>Đăng việc miễn phí 100%<img src="/img/icon-v.png"></p>
        <span>Thuê được ngay freelancer trong vòng 10 phút</span>
    </div>
</div>

<div class="modal fade popup-login" id="login-to-post-job">
    <div class="modal-body">
        <div class="login_view_job">
            <div class="span3 btn-connect">
                <p class="first">Để <strong>Đăng việc</strong>, bạn phải <strong>có tài khoản</strong> tại vLance.vn</p>
                <div class="center">
                    <div class="btn-create-account">
                        <a class="btn btn-primary btn-large" href="{% url 'accounts:employer-register' %}" onclick="vtrack('Post job registration', {'type':'normal'})">Tạo tài khoản mới</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="search-content row-fluid">
    <div class="layered-block search-results span12">
        <div>
            <div class="layered-heading results-counter">
   {% comment %} <ul class="nav nav-pills">
                    <li class="active">
                <a>
                    Nhận chào giá
                    <b>(229)</b>
                </a>
            </li>
                    <li>
                <a href="/viec-lam-freelance/status_nap-tien">
                    Đã nạp tiền
                    <b>(2523)</b>
                </a>
            </li>
                    <li>
                <a href="/viec-lam-freelance/status_tat-ca">
                    Tất cả
                    <b>(26689)</b>
                </a>
            </li>
            </ul>{% endcomment %}
</div>
        </div>
        <div class="block-content">
            <!----job -->

        {% if not vl %}
		Chưa có bài viết nào
		{% else %}

            {% for Job in vl %}
                 {% if Job.filled %}
                 {% else %}
                    <div class="row-fluid row-result"style=" border-bottom: 1px solid #EDEDED;">
    <div class="fr-info span12">
                <h3 class="fr-name">

                <a href="/viec-freelance/{{ Job.slug }}">
                   {{ Job.title }} </a>
                 <span class="label-new">Mới</span>
                </h3>
        <div class="fr-title">

            <div id="client-rating-box" class="list-job-rating">
                                <div class="box-rating-client"
                                     data-toggle="popover"
                                     data-placement="right"
                                     data-content="<div>Tiền đã thuê : <b>0</b> VNĐ</div><div>Việc đã đăng : <b>1</b> việc</div><div>Việc đã giao : <b>0</b> việc</div>" data-trigger="hover" data-html="true" data-original-title="" title="">
                    <div class="rating-box-client">
                        <div class="rating-client" style="width:0%"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.box-rating-client').popover();
                    })
                </script>
            </div>
            <a href="{% url 'accounts:info-freelance' Job.user_id %}" title="{{ Job.user.get_full_name }}">
                <span>{{ Job.user.get_full_name }}</span>
            </a>
                            <i class="icon-info icon-user inactive" title="Tài khoản khách hàng thiếu thông tin cơ bản"></i>
                                </div>
        <div class="fr-summary row-fluid">
            <div class="history span8">
                <span class="location">
                   {{ Job.Thanh_Pho }}               </span>
                <span class="separator">|</span>

                    <span class="category">{{ Job.Nganh_Nghe }}</span>
                                <span class="separator hidejs" style="display: inline;">|</span>


                <span class="history-job hidejs" style="display: inline;">{{ Job.NS_tu }} đ - {{ Job.NS_den }} đ                                        <a href="#" class="vlance-popover icon-question-sign" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Vui lòng <a href='#'>đăng nhập</a> để biết mức ngân sách thực tế." data-original-title="" title=""></a>
                                    </span>
            </div>
            <div class="span4 remain-job hidejs" style="">
                <div class="remain">
                    Hạn chào giá: {{ Job.last_date|date:'d/m/Y' }}                                  </div>
            </div>
        </div>
        <div class="fr-service">
            {{ Job.description |truncatewords:50|striptags}}...
            <a class="read_more"
               href="/viec-freelance/{{ Job.slug }}">xem thêm</a>
                                    </div>
        <div class="fr-profile row-fluid">
                                        <div class="skill-list span8 row-fluid">
                                            <span class="service-tag"><a title="Cần thuê dịch vụ &quot;{{ Job.Nganh_Nghe }}&quot;">{{ Job.Nganh_Nghe }}</a></span>
                                        <span>
                                            {{ Job.skill }}
                                        </span>
                </div>
                        <div class="span4">
                <div class="number_bid">
                                            <span>
                            <strong>0</strong> chào giá
                        </span>
                                    </div>
            </div>
        </div>
    </div>
</div>
                    </div>
                  {% endif %}
        {% endfor %}
        <!----end job -->
               <br>
		<!-- Hiện thị phân trang -->
		{% include "layout/pagination.html" with page=page_obj %} <!-- NEW -->
		{% endif %}

            </div>
</div>


                    </div>
                </div>
            </div>
        </div>

<style>
.fr-info.span12:hover {
    border: 1px solid #04c51c;
    display: block;
    padding: 5px;
}
</style>
{% endblock %}