{% extends 'layout/base.html' %}

{% block index %}
    {% load static %}
 <div class="content-section container">
       <!-----------start--------------->

        <div class="row-fluid">
        <div class="span12">
            <h1 class="title">Danh sách báo giá với công việc : <b>{{ jobpt.title |truncatechars:50}}</b> </h1>
            <div class="row-fluid page-tabs">
                <ul>
                    <li class="active">
                        <a href="/">
Danh sách ứng viên </a>
                    </li>

                </ul>
                <div class="border"></div>
            </div>
            <div class="row-fluid">
                <div class="span12 news-client-view">

                  <!-------------->
                     {% for CVonsite in cvonsite %}

                    <div class="profile-job span12

                ">
    <div class="row-fluid">

        <div class="span7 profile-job-left">
            <div class="profile-job-left-bottom">
                <div class="title span6">Nội dung chào giá
                    <span class="contact-block">
<a class="btn btn-primary hidejs" data-toggle="modal" href="tel{{ CVonsite.hotline }}" data-request="{&quot;fid&quot;:283076, &quot;pid&quot;:172016}" onclick="vtrack('Click contact', {
                                            'authenticated':'true',
                                                    'location':'job view as client',
                                                    'category':'Lập trình web',
                                                    'freelancer':'Hoàn Lê Tiến',
                                                    'freelancer_id':'283076'})">
<i class="fa fa-phone fa-lg"></i> Liên hệ</a>
</span>
                </div>
                <div class="span6 drop-menu">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a href="#popup-report_violations" role="button" class="report-violations-call-popup" data-toggle="modal" data-id="283076" data-action="/bid/violated/233008" title="Báo cáo sai phạm">
Báo cáo sai phạm </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="body-view row-fluid">
                    <div class="textbody">
                        <div>

                            <b>Giới thiệu về kinh nghiệm và kỹ năng</b>:
                            <br>
                             {{ CVonsite.exp_info }}
                            <br>
                            <b>Kế hoạch thực hiện công việc</b>:
                            <br>
                            {{ CVonsite.dudinh_info }}
                        </div>
                        <div class="creatbid">
                            <span>ID : {{ CVonsite.id }}</span> - Báo giá ngày :
                            <span>{{ CVonsite.created_at|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="span5 profile-job-right">

            <div class="profile-job-right-top">

                <div class="freelancer-row-img span4">
                    <div class="images">
                        <a href="{% url 'accounts:info-freelance' CVonsite.user.id %}" title="{{ CVonsite.user.get_full_name }}">
                            <img src="/HinhAnh/{{ CVonsite.user.hinh }}" alt="Hoàn Lê Tiến" title="Hoàn Lê Tiến">
                        </a>
                    </div>
                    <div class="rating-box" data-original-title="" title="">
                        <div class="rating" style="width:0%"></div>
                    </div>
                </div>

                <div class="span8">
                    <div class="title">
                        <a href="{% url 'accounts:info-freelance' CVonsite.user.id %}" title="{{ CVonsite.user.get_full_name }}">
                            {{ applicant.user.get_full_name }}
                            </a>
                        <script type="text/javascript" language="javascript">
                            jQuery(document).ready(function() {
                                $(function() {
                                    $('[data-toggle="tooltip"]').tooltip()
                                })
                            });
                        </script>
                    </div>
                    <div class="work-title">Developer Vue.Js, AngularJs, .NET, MSSQL, MySql, NodeJS</div>
                    <dl class="dl-horizontal">
                        <dt>Đến từ</dt>
                        <dd>{{ CVonsite.user.thanh_phos}}</dd>
                        <dt>Ngày gia nhập</dt>
                        <dd>{{ CVonsite.user.date_joined|date:'d/m/Y'}}</dd>

                    </dl>

                    <a href="mailto:{{ CVonsite.user.email }}" role="button" class="btn-flat btn-light-blue btn-flat-large formmessage-call-popup"
                       data-toggle="modal" title="Nhắn tin">Gửi Mail</a>
                </div>
            </div>

            <div class="profile-job-right-bottom span12">
                <div class="row-fluid">

                    <div class="price">

                        <span>{{ CVonsite.baogia }}</span>
                        <span class="less-important">VNĐ</span>
                        <span class="less-important"> - </span>

                        <span>{{ CVonsite.time }}</span>
                    </div>

                    <div class="row-fluid links">
                   {% load is_mess_jobpt %}
                    {% if request.user.is_authenticated %}
                            {% is_mess_jobpt CVonsite request.user as is_mess %}
                        {% if is_mess %}

                             <a href="#myModal_Jo_Ok" role="button" data-toggle="modal"
                           class="btn-flat btn-light-green btn-flat-xlarge formassignment-call-popup" style="background-color: #ec0404e0;"
                           title="Giao việc">Đã Giao Việc Này</a>
                        {% else %}
                            <a href="#myModal_Job" role="button" data-toggle="modal"
                           class="btn-flat btn-light-green btn-flat-xlarge formassignment-call-popup"
                           title="Giao việc">Giao Việc</a>

                        {% endif %}
                    {% endif %}

                        <a href="{% url 'vlance:jobpt-delete' CVonsite.id %}" role="button" class="refusal-call-popup btn-flat btn-flat-no-border btn-light-red btn-flat-xlarge" data-toggle="modal">
Từ chối  </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                          {% include 'from/chapnhanbaogiajobpt.html' %}
                    {% endfor %}
                  <!-------------->

                </div>
            </div>
        </div>

    </div>
 {% include "layout/pagination.html" with page=page_obj %} <!-- NEW -->

     <!----------end---------------------->

</div>
{% endblock %}