<div class="col2-left span2">
            <div class="layered-navigation">
                <div class="block">
                    <div class="dropdown clearfix">
                        <ul class="nav-left">
                            <li class="tf200 active">
                                <a href="/a/172016/editbasic" class="menu_general  active ">
Tài khoản </a>
                            </li>
                            <li class="tf200 ">
                                <a href="/options/general" class="menu_general ">
Cài đặt chung </a>
                            </li>

                            <li class="tf200 ">
                                <a href="/a/moi-ban-be" class="menu_invite_email ">
Mời bạn bè </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

<div class="col2-right span10">
            <div id="main_content">
                <div class="profile-tab">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="/tai-khoan/freelance/update-basic">Thông tin cá nhân</a>
                        </li>
                        <li class="active"><a href="/tai-khoan/freelance/update-cv">Hồ sơ làm việc</a>
                        </li>

                    </ul>
                </div>