.form-control {
    line-height: 1.5;
    color: #868e96;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
}

.job-add-form label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
}

 input, textarea, .uneditable-input {
    width: 100%;
}
    section.bg-light-gray {
    text-align: center;
}

   form#job-main-form {
    display: inline-block;
    margin-left: 300px;
}
   .ss {
    background: #ebe9ec52;
    clear: both;
}
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        padding: 5px;
        font-size: 14px;
    }
    .job-add-form label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
}